$lato: "Lato", sans-serif;

$orange: #f7931e;
$darkBlue: #19516b;
$blue: #247093;
$lightBlue: #70bdeb;
$white: #ffffff;
$black: #000000;

$headersWhite: 18px;
$headersOrange: 18px;
$menuTop: 6px;
$btnOrange: 5px;
$btnBlack: 5px;
$btnWhite: 5px;
$text: 6px;
$offers: 8px;
$M2: 6px;
$localisation: 6px;
$contactForm: 5px;

